extends layout

block content

  .row
    object.col-md-12(type='application/pdf', data='documents/xaviermaso.pdf', style='height: 80em;')
      .message.lightOrange
        b Oops !
        br
        br
        | It looks like the necessary plug-in is missing.
        br
        br
        a(href='/documents/xaviermaso.pdf') Download the CV in PDF format.
