extends layout

block content

  .row
    .col-md-6
      button(onClick='window.location.href="projects";').tile.green Projects
    .col-md-6
      button(onClick='window.location.href="cv";').tile.orange CV
