extends layout

block content

  .row#project-description
    .col-md-12
      .project-description.lightGreen
        h1#project-title
        h3#project-dates(style='position: absolute; top: 18px; right: 55px;')
        h4#project-tags
        h3#project-link

        i.fa.fa-close.fa-2x(onClick='closeProjectDesc(this);' style='position: absolute; top: 10px; right: 23px;')

  .row
    each project, key in projects
      .col-md-4
        - var color = (key%2==0)? 'green' : 'lightGreen'
        button(onClick='showProjetDesc(this.id);', class=color, id=project.id).tile-project= project.tileContent
